<div class="login-wrapper">
  <div class="form-login">
    <div class="form-wrapper">
      <div class="row">
        <img class="img-responsive login-brand" src="/assets/img/logo.png" alt="" srcset="">
        <div class="col-md-10 col-md-offset-1">
          <h1 class="text-center">
            Ops! Você ainda não realizou a validação do seu e-mail.<br>
            <small>Verifique seu endereço de e-mail</small>
          </h1>
        </div>
      </div>
      <div class="text-justify">
        <p>
          As intruções para validação da conta foi enviado para o email cadastrado, juntamento com o link de validação.
          Antes de prosseguir, verifique seu e-mail.
        </p>
        <p>
          Se você não recebeu o email ou o link validação anterior tenha expirado clique no botão abaixo para solicitar outro.
        </p>
        <div class="text-center">
          <button class="btn btn-block" mat-flat-button color="primary" [disabled]="inLoading" (click)="resendEmail()" type="button" >
            <span *ngIf="inLoading">Enviando solicitação</span>
            <span *ngIf="!inLoading">Solicitar novo link</span>
          </button>
        </div>
        <br>
        <div class="text-center">

          <button (click)="authSvc.logout()" id="kt_login_forgot_cancel" class="btn btn-link btn-outline-brand btn-pill">Voltar
            para tela de login</button>

        </div>
      </div>
    </div>
  </div>
</div>
