<!-- <nav class="navbar"> -->
  <div class="nav-icon" (click)="appSvc.setSidebarOpen(true)">
    <i class="fa fa-fw fa-bars" aria-hidden="true"></i>
  </div>
  <div class="navbar-left">
    <!-- <a href="#">Subscribers</a> -->
    <!-- <a href="#">Video Management</a> -->
    <!-- <a class="active_link" href="#">Admin</a> -->
  </div>
  <div class="navbar-right">
    <!-- <a href="#">
      <i class="fa fa-fw fa-search" aria-hidden="true"></i>
    </a> -->
    <a [routerLink]="['/admin/shopping-cart']">
      <i class="fa fa-fw fa-shopping-cart" aria-hidden="true"></i>
    </a>
    <a href="#">
      <img width="30" src="https://raw.githubusercontent.com/mustafaerden/Html-Css-Grid-Admin-Dashboard/master/assets/avatar.svg" alt="" />
      <!-- <i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i> -->
    </a>
  </div>
<!-- </nav> -->
