<div class="d-flex gap-h-15 flex-wrap">
  <a [routerLink]="[ './../../' ]" mat-stroked-button>
    <i class="fas fa-arrow-circle-left"></i> Voltar
  </a>
</div>
<br>
<div class="d-flex gap-h-15 flex-wrap">
  <div class="box box-primary item-flex">
    <form (ngSubmit)="onSubmit()" [formGroup]="entityForm">
      <div class="box-body">

        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="name" class="form-control">
          <mat-error *ngIf="f.name.errors?.invalid">{{f.name.errors?.invalid}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" class="form-control">
          <mat-error *ngIf="f.email.errors?.invalid">{{f.email.errors?.invalid}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Perfil</mat-label>
          <mat-select formControlName="role">
            <mat-option [value]="null">Selecione um opção</mat-option>
            <mat-option [value]="role.id" *ngFor="let role of rolesList">{{role.display_name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="f.role.errors?.invalid">{{f.role.errors?.invalid}}</mat-error>
        </mat-form-field>

        <div class="d-flex gap-h-15 flex-wrap">
          <mat-form-field class="item-flex" *ngIf="!!!entityId">
            <mat-label>Senha</mat-label>
            <input matInput #passwordInput type="password" formControlName="password" class="form-control">
            <button type="button" mat-icon-button matSuffix
              (click)="passwordInput.type == 'text'? passwordInput.type = 'password': passwordInput.type = 'text'"
              [attr.aria-label]="'Hide password'">
              <mat-icon>{{passwordInput.type == 'password' ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="f.password.errors?.invalid">{{f.password.errors?.invalid}}</mat-error>
          </mat-form-field>

          <mat-form-field class="item-flex" *ngIf="!!!entityId">
            <mat-label>Confirme a senha</mat-label>
            <input matInput #confirmationPasswordInput type="password" formControlName="password_confirmation"
              class="form-control">
            <button type="button" mat-icon-button matSuffix
              (click)="confirmationPasswordInput.type == 'text'? confirmationPasswordInput.type = 'password': confirmationPasswordInput.type = 'text'">
              <mat-icon>{{confirmationPasswordInput.type == 'password' ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="f.password_confirmation.dirty && f.password_confirmation.errors?.required">Informe a
              confirmação da senha</mat-error>
            <mat-error *ngIf="f.password_confirmation.dirty && f.password_confirmation.errors?.mustMatch">A senha é
              confirmação de senha não combinam</mat-error>
            <mat-error *ngIf="f.password_confirmation.dirty && f.password_confirmation.errors?.invalid">
              {{f.password_confirmation.errors?.invalid}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="box-footer form-actions">
        <a [routerLink]="[ '/admin/users' ]" mat-stroked-button>Voltar</a>
        <button mat-flat-button *ngIf="!!!isView" [disabled]="entityForm.invalid || inLoading" type="submit"
          class="btn-success">Salvar</button>
      </div>
    </form>
  </div>


  <div class="box item-flex" *ngIf="entityId">
    <h3>Listas</h3>
    <app-user-supplies-list></app-user-supplies-list>
  </div>
</div>
