<div class="row">
  <!-- <div class="col-md-3" *ngIf="entityObject">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <uld-input-image [start_image]="entityObject.image_profile?.url" [name]="'file'" [pathSendFile]="environment.apis.url_upload_file_profile" ></uld-input-image>
      </div>
    </div>
  </div> -->
  <div class="col-md-9">

    <div class="box box-primary">

      <form (ngSubmit)="onSubmit()" [formGroup]="entityForm">
        <div class="box-body">

          <div class="form-group">
            <label>Nome*</label>
            <input type="text" formControlName="name" class="form-control">
          </div>

          <div class="form-group">
            <label>Email* </label>
            <input type="email" formControlName="email" class="form-control">
          </div>
          <div class="form-group">
            <label>Perfil* </label>
            <select formControlName="role" class="form-control">
              <option [value]="null">Selecione uma opção</option>
              <option [value]="role.id" *ngFor="let role of rolesList">{{role.display_name}}</option>
            </select>

          </div>
          <div class="form-group" *ngIf="!!!entityId">
            <label>Senha* </label>
            <div class="input-group input-group-sm">
              <input #passwordInput type="password" formControlName="password" class="form-control">
              <span class="input-group-btn">
                <button (click)="passwordInput.type == 'text'? passwordInput.type = 'password': passwordInput.type = 'text'" type="button" class="btn btn-flat btn-input">
                  <i *ngIf="passwordInput.type == 'text'" class="fa fa-eye text-info"></i>
                  <i *ngIf="passwordInput.type == 'password'" class="fa fa-eye-slash text-info"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="form-group" *ngIf="!!!entityId">
            <label>Confirme a senha* </label>
            <div class="input-group input-group-sm">
              <input #confirmationPasswordInput type="password" formControlName="password_confirmation" class="form-control">
              <span class="input-group-btn">
                <button (click)="confirmationPasswordInput.type == 'text'? confirmationPasswordInput.type = 'password': confirmationPasswordInput.type = 'text'" type="button" class="btn  btn-flat btn-input">
                  <i *ngIf="confirmationPasswordInput.type == 'text'" class="fa fa-eye text-info"></i>
                  <i *ngIf="confirmationPasswordInput.type == 'password'" class="fa fa-eye-slash text-info"></i>
                </button>
              </span>
            </div>
            <p class='helpe-block' *ngIf="f.password_confirmation.dirty && f.password_confirmation.errors?.required">
              Informe a confirmação da senha</p>
            <p class='helpe-block' *ngIf="f.password_confirmation.dirty && f.password_confirmation.errors?.mustMatch">
              Senhas não combinam</p>
          </div>


        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <div class="pull-right">
            <a [routerLink]="[ '/admin/users' ]" class="btn btn-default">Voltar</a>
            <button *ngIf="!!!isView" [disabled]="entityForm.invalid || inLoading" type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
