.rank-wrapper {
  table {
    width: 100%;
    border-collapse: separate;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 5px;
  }
  .rank-item-list {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #c7c7c7;
    cursor: pointer;
    // &:first-child {
    //   transform: scale(1.05);
    // }

    .position{
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      margin: 0px auto;
    }
    &:nth-child(1){
      .position{
        background: rgb(212,175,55);
        border: 5px solid rgba(255,255,255,0.6);
        color: #fff;
      }
    }
    &:nth-child(2){
      .position{
        background: rgb(192,192,192);
        border: 5px solid rgba(255,255,255,0.6);
        color: #fff;
      }
    }
    &:nth-child(3){
      .position{
        background: #cd7f32;
        border: 5px solid rgba(255,255,255,0.6);
        color: #fff;
      }
    }
    .position{
      background: #7bc5f5;
      border: 5px solid rgba(255,255,255,0.6);
      color: #fff;
    }
    td{
      box-sizing: border-box;
    }

    > td:nth-child(3) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width:180px;
    }
    > td:nth-child(2) {
      text-align: center;
    }
    > td:nth-child(4) {
      text-align: center;
    }

    > td:first-child {
      padding-left: 20px;
      text-align: center;
      border-radius: 10px 0px 0px 10px;
    }

    > td:last-child {
      padding-right: 20px;
      text-align: right;
      border-radius: 0px 10px 10px 0px;
    }

    .brand-wrapper {
      max-width: 60px;
      max-height: 60px;
      min-height: 60px;
      overflow: hidden;
      border-radius: 60px;
      margin: 0px auto;
      img {
        width: 100%;
      }
    }
  }
}
