<div class="d-flex gap-h-15 flex-wrap">
  <a *ngIf="entityId" [routerLink]="[ './../../../' ]" mat-stroked-button>
    <i class="fas fa-arrow-circle-left"></i> Voltar
  </a>
  <a *ngIf="!entityId" [routerLink]="[ './../../' ]" mat-stroked-button>
    <i class="fas fa-arrow-circle-left"></i> Voltar
  </a>
</div>
<br>
<div class="d-flex gap-h-15 flex-wrap">
  <div class="item-flex">
    <div class="box box-primary h-100">
      <h3>Informações da escola</h3>
      <strong>Nome:</strong> {{ school?.name}}<br>
      <strong>Localização:</strong> {{ school?.city}} - {{school?.state}}
    </div>
  </div>
  <div class="item-flex">
    <div class="box box-primary h-100" *ngIf="entityForm">
      <h3>Dados gerais da lista de metériais</h3>
      <form (ngSubmit)="onSubmit()" [formGroup]="entityForm">
        <div class="box-body">
          <div class="d-flex gap-h-15 flex-wrap">
            <!-- <mat-form-field class="item-flex">
              <mat-label>Nome</mat-label>
              <input matInput type="text" formControlName="name" class="form-control">
              <mat-error *ngIf="f.name.errors?.invalid">{{f.name.errors?.invalid}}</mat-error>
            </mat-form-field> -->
            <mat-form-field class="item-flex">
              <mat-label>Série/Ano</mat-label>
              <mat-select formControlName="school_grade_id">
                <mat-option [value]="schoolGrade.id" *ngFor="let schoolGrade of schoolGradeList">{{schoolGrade.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f.school_grade_id.errors?.invalid">{{f.school_grade_id.errors?.invalid}}</mat-error>
            </mat-form-field>

          </div>
        </div>
        <div class="box-footer form-actions">

          <button mat-stroked-button *ngIf="!!!isView" (click)="cancelChangesEntity()" [disabled]="inLoading"
            type="button" class="btn btn-danger">Cancelar</button>
          <button mat-flat-button *ngIf="!!!isView" [disabled]="entityForm.invalid || inLoading" type="submit"
            class="btn-success">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
<div class="row" *ngIf="entityObject">
  <div class="col">
    <div class="box box-primary">
      <h3>Lista de produtos</h3>
      <div class="box-body">
        <div class="list-wrapper">
          <mat-list>
            <mat-list-item>
              <div>Produto</div>
              <div class="label-qtd">Quantidade</div>
            </mat-list-item>
            <mat-list-item checkboxPosition="before" *ngFor="let product of productsList">

              <mat-checkbox class="example-margin" (change)="setSelectProduct($event, product)"
                [(ngModel)]="product.checked" name="checked">{{product.name}}
              </mat-checkbox>

              <div class="input-quantity">
                <input type="number" [(ngModel)]="product.quantity" min="1" [disabled]="!product.checked">
              </div>
              <!-- <mat-form-field>
                <mat-label>Quantidade</mat-label>
                <input matInput [(ngModel)]="product.quantity" min="1" type="number" class="form-control">
                <mat-error *ngIf="f.name.errors?.invalid">{{f.name.errors?.invalid}}</mat-error>
              </mat-form-field> -->
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="box-footer form-actions">
        <button mat-stroked-button *ngIf="!!!isView" (click)="cancelSetProducts()" [disabled]="inLoading" type="button"
          class="btn btn-danger">Cancelar</button>
        <button mat-flat-button *ngIf="!!!isView" (click)="setProducts()" type="button"
          class="btn-success">Salvar</button>
      </div>
    </div>
  </div>
</div>
