@import "./../../../variables";
.login-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: #f5f6f8 url(/assets/img/bg_login.png);
  background-size: auto 65vh;
  background-position: right bottom;
  background-repeat: no-repeat;
  justify-content: flex-start;
  align-items: center;

  .form-login {
    background: white;
    width: 40vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    margin-left: 55px;
    border-radius: 15px;
    box-shadow: 0 5px 5px #dcdcdc;
    padding: 15px;

    .form-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      box-sizing: border-box;
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 55px;
      }
    }
  }
  .login-brand {
    max-width: 250px;
    margin: 0px auto 30px;
  }

  .login-footer {
    width: 100%;
    text-align: center;
  }

  .submit-button-wrapper {
    margin-top: 15px;
    button {
      text-transform: uppercase;
      font-size: 15px;
    }
  }

  .forgot-password {
    align-self: flex-end;
  }
}

/* APARIÇÃO DO FORM */
.form-login {
  overflow: hidden;
  animation: fade 0.2s;
}

// .login-footer {
//   overflow: hidden;
//   animation: fade 0.2s .5s;
// }

.form-login .form-group:nth-child(1) {
  animation: move 500ms;
}

.form-login .form-group:nth-child(2) {
  animation: move 400ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
}

.form-login .forgot-password,
.form-login .submit-button-wrapper {
  animation: move 400ms;
  animation-delay: 250ms;
  animation-fill-mode: backwards;
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* FORM NO-NO */

.form-login.validate-error {
  animation: nono 200ms linear, fade paused;
  animation-iteration-count: 2;
}

@keyframes nono {
  0%,
  100% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-15%);
  }
  70% {
    transform: translateX(15%);
  }
}

@media (max-width: $breakpoint-md) {
  .login-wrapper {
    justify-content: center;
    align-items: center;

    .form-login {
      background: #ffffff8c;
      width: 100vw;
      height: 100vh;
      margin-left: 0px;
      .form-wrapper{
        form{
          padding: 0px 10px;
        }
      }
    }
  }
}


// .form-group {
//   width: 100%;
//   margin-bottom: 15px;
//   &.invalid-group input {
//     box-shadow: 0 3px 6px #f443369e;
//     color: $dangerColor;
//     &::placeholder {
//       /* Chrome, Firefox, Opera, Safari 10.1+ */
//       color: $dangerColor;
//     }

//     &:-ms-input-placeholder {
//       /* Internet Explorer 10-11 */
//       color: $dangerColor;
//     }

//     &::-ms-input-placeholder {
//       /* Microsoft Edge */
//       color: $dangerColor;
//     }
//   }
// }

// .btn-block {
//   width: 100%;
// }

// input {
//   padding: 20px;
//   display: block;
//   width: 100%;
//   box-sizing: border-box;
//   border-radius: 15px;
//   border: none;
//   box-shadow: 0px 3px 6px rgb(0 0 0 / 0.16);
//   margin-bottom: 10px;
// }

// button {
//   border: none;
//   background: transparent;
// }

.btn {
  min-height: 60px;
  border-radius: 15px;
  border: none;

  &.btn-success {
    background: #00cc47;
    color: #fff;
  }

  &:disabled {
    opacity: 0.6;
  }
}

// .alert {
//   padding: 15px;
//   border-radius: 10px;
//   margin-bottom: 20px;
//   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
//   width: 100%;
//   box-sizing: border-box;

//   &.alert- {
//     &danger {
//       background: $dangerColor;
//       color: #fff;
//     }
//   }
// }
